@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

  * {
    box-sizing: border-box;
  }


  img {
    max-width: 100%;
  }

html {
    background-color: #f1f5f9;
    font-family: sans-serif;
  }
  
  body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }

  
  h1 {
    text-align: center;
    color: lightslategray;
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: lightslategray;
  }


  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
  }
  
  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: lightslategray;
  }


  a:visited {
    color: lightslategray;
}

  
  .nav-links a:hover, a:focus {
    background-color: white;
    transform: translate(0px, -3px);
    
  }

  
  .expanded {
    display: unset;
  }
  
/* dark theme */
  .dark body {
    background-color: #0d0950;
    color: #aaa;
  }
  
  .dark .nav-links a {
    color: lightslategray;
  }
  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }

    .hamburger {
      display: none;
    }
  
  }