<body>
    <a href="/">Home</a>
    <a href="/blog/">Blogs</a>
    <section class="about_me">
        <h2>About me</h2>
<p>Hello I'm Ikenna Richard, a front end developer from Nigeria, I dont have much clue about writing a blog but I love creating awesome contents with Javascript and Astro. If you want to know more about me, check out my github profile <a href="http://github.com/ikennarichard" target="_blank" rel="noopener noreferrer">@ikennarichard</a>. It's nice having you around.</p>
    </section>
</body>
