<body>
    <a href="/">Home</a>
    <a href="/about/">About me</a>
    <h1>Topics</h1>
    <section class="blogs">
        <article>
            <h2>Conditional Rendering</h2>
            <p>Conditional rendering is the ability to render content if a certain condition is met. Most web frameworks including Astro implement conditional rendering, it makes Single Page Applications (SPA) dynamic  and more interactive.</p>
        </article>
    </section>
</body>